<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <div>
          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Email"
              required
              formControlName="email"
            />
            <mat-error>
              Please provide a valid Email
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Password"
              required
              formControlName="password"
            />
            <mat-error>
              Please provide a valid Password
            </mat-error>
          </mat-form-field>

        </div>
        <p *ngIf="isCorrectLogin" style="padding-left: 10px; color: red;">Email or Password is incorrect</p>
      </div>

      <button style="margin-top: 20px;" mat-raised-button routerLink="../register">Register</button>
      <button style="margin-top: 20px; margin-left: 20px" mat-raised-button>Login</button>

    </form>
  </mat-card-content>
</mat-card>
