button {
  margin-right: 8px;
}
.success {
  font-size: 45px;
  text-align: center;
  color: #3e9c3e;
}

img {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
}

h2 {
  display: inline;
}

.messages {
  margin-top: 50px;
}
